@media screen and (max-width: 1024px) {

    #left-panel {
        width: 6%;
    }

    #menu-panel, #main-panel {
        width: 44%;
        left: 6%;
    }

    #image-panel {
        width: 50%;
    }

}

@media screen and (max-width: 512px) {

    #left-panel {
        width: 10%;
    }


    #menu-panel, #main-panel {
        width: 90%;
        left: 10%;
    }

    #image-panel {
        display: none;
    }

}

@media screen and (max-height: 512px) {

    #menu-panel{
        position: absolute;
    }

}