@media screen and (max-width: 1024px) {

    #image-panel {
        width: 50%;
    }

    #main-panel, #menu-panel {
        width: 44%;
        left: 6%;
    }

    #left-panel {
        width: 6%;
    }

}

@media screen and (max-width: 512px) {

    #image-panel {
        display: none;
    }

    #main-panel, #menu-panel {
        width: 90%;
        left: 10%;
    }

    #menu-panel li a:hover {
        padding-bottom: 1px;
    }

    #left-panel {
        width: 10%;
    }

}

@media screen and (max-height: 512px) {

    #menu-panel{
        position: absolute;
    }

}