@media screen and (max-width: 1560px) {

    .main-panel-header {
        width: 80%;
    }

    .main-panel-text {
        width: 80%;
    }

}

@media screen and (max-width: 1024px) {

    #menu-panel, #main-panel {
        width: calc(50% - 40px);
    }

    #image-panel {
        width: 50%;
    }

}

@media screen and (max-width: 512px) {

    #menu-panel, #main-panel {
        width: calc(100% - 40px);
    }

    #image-panel {
        display: none;
    }

}

@media screen and (max-height: 512px) {

    #menu-panel{
        position: absolute;
    }

}