* {
    box-sizing: border-box;
}

body {
    background: #333;
}

/*-------------------------------------------------------------------------------------------------------- LEFT PANEL */

#left-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 2.5%;
    height: 100%;
    background: #2a2a2a;
}

.social-media {
    display: block;
    width: 100%;
    height: 5.44%;
    transition: all 500ms ease;
}

.social-media:hover {
    background-color: #fe4e50;
}

.facebook {
    background: url('../img/facebook.svg') center center no-repeat;
}

.twitter {
    background: url('../img/twitter.svg') center center no-repeat;
}

.pinterest {
    background: url('../img/pinterest.svg') center center no-repeat;
}

.line {
    width: 87.5%;
    height: 1px;
    margin: 0 auto;
    background: #4f4f4f;
}

/*-------------------------------------------------------------------------------------------------------- MENU PANEL */

#menu-panel {
    position: fixed;
    top: 0;
    left: 2.5%;
    width: 27.5%;
    height: 192px;
    background: #2f2f2f;
    /* background: #333;-------------------- Powrót do designu Krzycha + bez tego "border-bottom" linijkę poniżej. */
    border-bottom: 1px solid #4f4f4f;
    z-index: 1;
}

#logo {
    display: block;
    width: 40%;
    height: auto;
    margin: 40px auto 0;
}

#menu-panel ul {
    margin-top: 36px;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

#menu-panel li {
    display: inline-block;
}

#menu-panel a { /*-------------------- Zastanawiałem się czy dać selektor '#menu-panel li a' czy bez 'li'. Oba zdają się działać identycznie, więc uznałem, że postawię na oszczędność miejsca. */
    display: inline-block; /*-------------------- Problem ze "skaczącymi" linkami przy wrapie. */
    padding: 4px 8px;
    color: white;
    font-size: 18px;
    font-family: dosis light, sans-serif;
    text-align: center;
    text-decoration: none;
}

#menu-panel a:hover { /*-------------------- Zastanawiałem się czy dać selektor '#menu-panel li a:hover' czy bez 'li'. Oba zdają się działać identycznie, więc uznałem, że postawię na oszczędność miejsca. */
    color: #ff5253;
    border-bottom: 1px solid #ff5253;
}

/*-------------------------------------------------------------------------------------------------------- MAIN PANEL */

#main-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 192px;
    left: 2.5%;
    width: 27.5%;
    margin-top: 30px;
    background: #333;;
}

.sub-panel-1 {
    width: 80%;
    margin: 0 auto 30px;
}


.h1, .h2, .p-1, .p-2 {
    margin: 0;
    font-family: dosis light, sans-serif;
    font-weight: 900;
}

.h1 {
    color: #fe4e50;
    font-size: 26px;
}

.h2 {
    color: white;
    font-size: 30px;
}

.sub-panel-2 {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

.p-1 {
    color: white;
    font-size: 16px;
}

.p-2 {
    padding: 20px 0;
    color: #fe4e50;
    font-size: 26px;
}

/*------------------------------------------------------------------------------------------------------- IMAGE PANEL */

#image-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #333;
    -webkit-background-size: cover;
    background-size: cover;
}

/*------------------------------------------------------------------------------------------------------------ SWIPER */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
}

.swiper-container .swiper-pagination-bullet-active {
    background: #fe4e50;
}